
.row1{
    text-align: center;
}
.section-title {
    text-align: center;
    font-size: 2.5rem;
}
.row1 svg{
   color: #fb3e3e;
}
.row1 .section-subtitle {
    color:  rgba(91, 90, 90, 0.773);
}
.row p .text-muted{
    color:  rgba(91, 90, 90, 0.773);
}
.col-lg-8 .form-group {
    margin-top: 20px;
}
.row .col-lg-12 .submitBnt {
    color: #fff;
    background: #fb3e3e;
    margin: 20px;
    margin-left: 75%;
}