<section id="pricing">
    <div class="container">
        <div class="row1">
            <div  class="title">
                <h1>Our Pricing</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                  <br>
                <p>Call to action pricing table is really crucial to your for your business website. Make your bids stand-out with amazing options.</p>
            </div>
        </div>
            <div class="row">
                <div  class="col-3">
                <div class="text-center">
                    <h4  class="text-uppercase">Economy</h4>
                    <h1>$9.90</h1><h6>Billing Per Month</h6>
                    <hr>
                <div  class="plan-features">
                    <p>Bandwidth: <b class="text-custom">1GB</b></p>
                    <p>Onlinespace: <b class="text-custom">50MB</b></p>
                    <p>Support: <b class="text-custom">No</b></p>
                    <p><b class="text-custom">1</b> Domain</p>
                    <p ><b class="text-custom">No</b> Hidden Fees</p>
                </div>
                <a class="btn">Join Now</a>
            </div>
        </div>
        <div class="col-3">
            <div class="text-center">
                <h4 >DELUXE</h4>
                <h1>$19.90</h1>
                <h6>Billing Per Month</h6>
                 <hr>
                <div  class="plan-features">
                    <p>Bandwidth: <b class="text-custom">10GB</b></p>
                    <p >Onlinespace: <b class="text-custom">500MB</b></p>
                    <p >Support: <b class="text-custom">Yes</b></p>
                    <p ><b class="text-custom">10</b> Domain</p>
                    <p><b class="text-custom">No</b> Hidden Fees</p>
                </div>
                <a  class="btn">Join Now</a>
            </div>
        </div>
        
        <div  class="col-3">
                <div class="text-center">
                    <h4 class="text-uppercase">Ultimate</h4>
                    <h1>$29.90</h1>
                    <h6>Billing Per Month</h6>
                    <hr>
                    <div  class="pricing-border"></div>
                    <div  class="plan-features "><p >Bandwidth: <b  class="text-custom">100GB</b></p>
                        <p >Onlinespace: <b class="text-custom">2 GB</b></p><p >Support: <b class="text-custom">Yes</b></p>
                        <p ><b  class="text-custom">Unlimited</b> Domain</p>
                        <p ><b  class="text-custom">No</b> Hidden Fees</p>
                    </div>
                    <a class="btn">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</section>