<section id="team">
    <div class="container">
        <div  class="row">
        <div class="col">
            <h1 >Behind The People</h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
              </svg>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
    </div>
    <div class="row">
        <div  class="col-3">
            <div  class="team-box">
                <div class="team-wrapper">
                    <div class="team-member">
                        <img  alt="" src="assets/img-1.jpg">
                    </div>
                </div>
                <h4>Frank Johnson</h4>
                <p >CEO</p>
            </div>
        </div>
        <div class="col-3">
            <div  class="team-box">
                <div class="team-wrapper">
                    <div class="team-member">
                        <img  alt="" src="assets/img-2.jpg">
                    </div>
                </div>
                <h4 >Elaine Stclair</h4>
                <p >Designer</p>
            </div>
        </div>
        <div class="col-3 ">
            <div class="team-box">
                <div  class="team-wrapper">
                    <div class="team-member">
                        <img  alt="" src="assets/img-3.jpg" >
                    </div>
                </div>
                <h4 >Wanda Arthur</h4>
                <p >Developer</p>
            </div>
        </div>
        <div class="col-3">
            <div class="team-box">
                <div class="team-wrapper">
                    <div class="team-member">
                        <img alt="" src="assets/img-4.jpg">
                    </div>
                </div>
                <h4>Joshua Stemple</h4>
                <p>Manager</p>
            </div>
        </div>
    </div>
</div>
</section>
<section class="section-bg-light">
    <div  class="container">
        <div  class="row">
            <div class="col-lg-8 ">
                <h1  class="section-title">Work Process</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                <p  class="section-subtitle-text">In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
            </div>
        </div>
        <br>
        <div class="row margin-t-50">
            <div class="col-lg-4 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
                  
                <div  class="text-center x">
                    <h4  class="padding-t-15">Tell us what you need</h4>
                    <p class="text-muted">The Big Oxmox advised her not to do so.</p>
                </div>
        </div>
        <br>
        <div  class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
              </svg>
            <div class="text-center">
                <h4 class="padding-t-15">Get free quotes</h4>
                <p class="text-muted">Little Blind Text didn’t listen.</p>
            </div>
        </div>
        <br>
        <div  class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
            <div class="text-center">
            <h4 class="padding-t-15">Deliver high quality product</h4>
            <p  class="text-muted">When she reached the first hills.</p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn">
            Get Started &#8594; 
        </a>
        </div>
    </div>
</div>
</section>

<section  id="testi" class="section">
    <div class="container">
        <div  class="row">
            <div  class="col-lg-123 offset-lg-2">
                <h1  class="section-title">What they've said</h1>
                <div class="section-title-border "></div>
                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli.</p>
            </div>
        </div>
        <div  class="row ">
            <div  class="col-lg-4">
                <div class="testimonial-box hover-effect margin-t-30">
                    <img src="assets/user-2.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle"><div _ngcontent-gkk-c109="" class="testimonial-decs">
                    <p  class="text-muted text-center mb-0">“I feel confident imposing change on myself. It's a lot more fun progressing than looking back. That's why I need to throw curve balls.” </p>
                </div>
                <h5>Ruben Reed - <span>Charleston</span></h5>
            </div>
        </div>
        <div  class="col-lg-4">
            <div  class="testimonial-box">
                <img  src="assets/user-1.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle" >
                <div class="testimonial-decs">
                    <p >“Our task must be to free ourselves by widening our circle of compassion to embrace all living creatures and the whole of nature and its beauty.” </p>
                </div>
                <h5>Michael P. Howlett - <span  class="text-muted">Worcester</span></h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="testimonial-box">
                <img src="assets/user-3.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                <div class="testimonial-decs">
                    <p>“I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.” </p>
                </div>
                <h5>Theresa D. Sinclair - <span >Lynchburg</span></h5>
            </div>
        </div>
    </div>
</div>
</section>
<!-- <section class="section1">
       
    <div  class="container">
        <div class="row">
            <div class="col-lg-12">
                    <h1 class="get-started-title" >Let's Get Started</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" id="svg" class="bi bi-dash-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                        </svg>
                    <div class="section-title-border"></div>
                        <p  class="section-subtitle">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" >
                            Get Started &#8594; 
                        </a>
                    </div>
            </div>
        </div>
    <div  class="bg-pattern-effect"><img  src="assets/bg-pattern-light.png" alt=""></div>

 </section> -->
<section >
    <div class="carousel-inner">
        <div class="carousel-item active" >
          <div class="transparent" >
            <div class="row">
        
                <h1 >Let's Get Started</h1>
    
                <p class="paragraph">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    
                <a >Get Started &#8594; </a>
                    
              
            </div>
          </div>
          
          <img src="/assets/img-2(1).jpg" class="d-block w-100" alt="...">
        </div>
       
      </div>
      
</section>
